$main-color: #480ca8;
$sub-color: #f72585;

table {
    border: 2px solid $main-color;
    border-radius: 5px;
    td {
        margin: 5px;
        border-bottom: 2px solid $main-color;
        border-radius: 2px;
        padding-left: 5px;
        &:last-child {
            border-left: 2px solid $main-color;
        }
    }
    &:last-child {
        border-bottom: none;
    }
}
